<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizWithdrawMapper">

    <resultMap type="BizWithdraw" id="BizWithdrawResult">
        <id     property="withdrawId"   column="withdraw_id"/>
        <result property="memberId"     column="member_id"/>
        <result property="phone"        column="phone"/>
        <result property="realName"     column="real_name"/>
        <result property="currency"     column="currency"/>
        <result property="walletTypeCode" column="wallet_type_code"/>
        <result property="walletTypeName" column="wallet_type_name"/>
        <result property="amount"       column="amount"/>
        <result property="feeAmount"    column="fee_amount"/>
        <result property="arrivalAmount" column="arrival_amount"/>
        <result property="accountInfo"  column="account_info"/>
        <result property="payMethod"    column="pay_method"/>
        <result property="status"       column="status"/>
        <result property="auditBy"      column="audit_by"/>
        <result property="auditTime"    column="audit_time"/>
        <result property="auditRemark"  column="audit_remark"/>
        <result property="payProofUrl"  column="pay_proof_url"/>
        <result property="createTime"   column="create_time"/>
        <result property="remark"       column="remark"/>
    </resultMap>

    <select id="selectWithdrawById" parameterType="Long" resultMap="BizWithdrawResult">
        select w.withdraw_id, w.member_id, m.phone, m.real_name, w.currency, w.wallet_type_code, t.type_name as wallet_type_name,
               w.amount, w.fee_amount, w.arrival_amount, w.account_info, w.pay_method, w.status,
               w.audit_by, w.audit_time, w.audit_remark, w.pay_proof_url, w.create_time, w.remark
        from biz_withdraw w
        left join biz_member m on m.member_id = w.member_id
        left join biz_wallet_type t on t.type_code = w.wallet_type_code
        where w.withdraw_id = #{withdrawId}
    </select>

    <select id="selectWithdrawList" parameterType="BizWithdraw" resultMap="BizWithdrawResult">
        select w.withdraw_id, w.member_id, m.phone, m.real_name, w.currency, w.wallet_type_code, t.type_name as wallet_type_name,
               w.amount, w.fee_amount, w.arrival_amount, w.account_info, w.pay_method, w.status,
               w.audit_by, w.audit_time, w.audit_remark, w.pay_proof_url, w.create_time, w.remark
        from biz_withdraw w
        left join biz_member m on m.member_id = w.member_id
        left join biz_wallet_type t on t.type_code = w.wallet_type_code
        <where>
            <if test="withdrawId != null">and w.withdraw_id = #{withdrawId}</if>
            <if test="memberId != null">and w.member_id = #{memberId}</if>
            <if test="currency != null and currency != ''">and w.currency = #{currency}</if>
            <if test="status != null and status != ''">and w.status = #{status}</if>
            <if test="walletTypeCode != null and walletTypeCode != ''">and w.wallet_type_code = #{walletTypeCode}</if>
            <if test="phone != null and phone != ''">and m.phone like concat('%', #{phone}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''">and w.create_time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''">and w.create_time &lt; date_add(#{params.endTime}, interval 1 day)</if>
        </where>
        order by w.withdraw_id desc
    </select>

    <insert id="insertWithdraw" parameterType="BizWithdraw" useGeneratedKeys="true" keyProperty="withdrawId">
        insert into biz_withdraw (member_id, currency, wallet_type_code, amount, fee_amount, arrival_amount, account_info, pay_method, status, create_time, remark)
        values (#{memberId}, #{currency}, #{walletTypeCode}, #{amount}, #{feeAmount}, #{arrivalAmount}, #{accountInfo}, #{payMethod}, #{status}, sysdate(), #{remark})
    </insert>

    <update id="updateWithdraw" parameterType="BizWithdraw">
        update biz_withdraw
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditRemark != null">audit_remark = #{auditRemark},</if>
            <if test="payProofUrl != null">pay_proof_url = #{payProofUrl},</if>
        </set>
        where withdraw_id = #{withdrawId}
    </update>

    <update id="updateWithdrawIfPending" parameterType="BizWithdraw">
        update biz_withdraw
        set status = #{status},
            audit_by = #{auditBy},
            audit_time = #{auditTime},
            audit_remark = #{auditRemark},
            pay_proof_url = #{payProofUrl}
        where withdraw_id = #{withdrawId} and status = '0'
    </update>
</mapper>
